html, body{
    margin: 0;
    padding: 0;
}

#table_wrapper:before{
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background: url('img/background.png') repeat-y 50% 0;
    background-size: cover;
}

table#dex_table ,#dex_table-sticky{
    border-collapse: collapse;
}

table#dex_table tr, #dex_table-sticky tr{
    border-bottom: 1px solid silver;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    background: #fcfcfc;
}

table#dex_table tr td, table#dex_table tr th, table#dex_table-sticky tr th, table#dex_table-sticky tr td{
    padding: 1em 2em;
}

table#dex_table thead, table#dex_table-sticky thead{
    border-top: 1px solid rgba(0,0,0,0.25);
}

input.tablesorter-filter{
    width: 100%;
}

/**
<th class="id" data-placeholder="Filter by #">#</th>
<th class="pic sorter-false">Pic</th>
<th class="name" data-placeholder="Filter by name">Name</th>
<th class="location sorter-false" data-placeholder="Filter by Location">Location</th>
<th class="collected" data-placeholder="Got it">Got it?</th>
*/

td.id, th.id{
    min-width: 100px;
    width:10%;
    text-align: center;
}

td.pic, th.pic{
    min-width: 100px;
    width: 10%;
    text-align: center;
}

td.pic img, th.pic img{
    max-width: 100px;
}

td.name, th.name{
    min-width: 150px;
    width: 20%;
    text-align: center;
}

td.location, th.location{
    width: 70%;
}

td.collected, th.collected{
    min-width: 100px;
    width: 10%;
}

textarea#exportarea{
    border:1px solid silver;
    margin: 0 auto;
    width: 75%;
    display: none;
}

table#dex_table tr.got-it{
    background: #dff0d8;
    /*background: #3498DB;*/
}

#options_container{
    display: none;
}

#table_wrapper{
    width: 80%;
    margin: 0 auto;
    /*padding: 0 10%;*/
}

#dex_table thead, #dex_table-sticky thead{
    background: #fcfcfc;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.25);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.25);
}

header{
    width: 100%;
    padding: 1em 10% 1em 10%;
    background: #fcfcfc;
    border-bottom: 1px solid rgba(0,0,0,0.25) ;
}

#logo img{
    height: 125px;
}

#logo{
    float: left;
    margin-right: 2em;
}

#option_buttons{
    width: 19%;
    display: inline-block;
}
#option_buttons button{
    width: 100%;
    padding: 0.5em 2px;
}
#user_data_container{
    width: 80%;
    display: inline-block;
}
#user_data_container textarea{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

/* Checkbox Icons */
label {
    position: relative;
    /*padding-left: 30px;*/
    /*font-size: 30px;*/
    /*cursor: pointer;*/
    /*color: #333333;*/
    /*padding: 16px 28px 0 0;*/
    /*background-color: red;*/


}

label:before, label:after {

    font-family: FontAwesome;
    font-size: 50px;
    /*absolutely positioned*/
    position: absolute;
    top: -15px;
    left: 1px;
}

label:before {
    content: '\f096'; /*checkbox unchecked */
}
label:after {
    content: '\f00c'; /*checkbox checked*/
    max-width: 0;
    /*overflow: hidden;*/
    opacity: 0;
    font-size: 27px;
    top: 0;
    left: 7px;
    color: #333333;

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
    transition: all 0.50s;
}
input[type="checkbox"]:checked + label:after {
    max-width: 25px;
    opacity: 1;
    margin-right: 90px;
}

.loc-gen{
    display: inline-block;
    width: 40px;
    height: 30px;
}

a.gen-1{
    background-image: url(img/icons/gen1.png);
}

a.gen-2{
    background-image: url(img/icons/gen2.png);
}

a.gen-3{
    background-image: url(img/icons/gen3.png);
}

a.gen-4{
    background-image: url(img/icons/gen4.png);
}

a.gen-5{
    background-image: url(img/icons/gen5.png);
}

a.gen-6{
    background-image: url(img/icons/gen6.png);
}

.tablesorter .filtered {
    display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}

@media screen and (max-width: 1070px) {
    #table_wrapper{
        width: 100%;
    }
}